# SQLite variables
SQLITE_PATH=../airflow/dags/data_store/weather.db

# Couchdb variables
COUCHDB_HOST=
COUCH_PORT=
COUCHDB_USERNAME=
COUCHDB_PASSWORD=
FREEWEATHER_DB=
OPENMETEO_DB=
OPENWEATHER_DB=
AGGREGATE_DB=